<div class="mat-typography app-frame mat-app-background" fxLayout="column"
     fxLayoutAlign="center center">
    <mat-card fxLayout="column"
              fxLayoutGap="10px">

      <mat-card-header>
        <img mat-card-avatar src="../assets/krs.png">
        <mat-card-title>Rejestr KRS</mat-card-title>
        <mat-card-subtitle>Prześlij plik CSV z numerami KRS</mat-card-subtitle>
      </mat-card-header>
      <input type="file" (change)="onFileSelected($event)" #fileInput style="display:
      none">
      <div class="file-upload-area" fxLayout="column" fxLayoutAlign="center center"
           fileDrop
           (filesDropped)="handleDrop($event)"
           (filesHovered)="dropzoneState($event)"
           (click)="fileInput.click()"
           [ngClass]="{'active': dropzoneActive}"
           >
        <mat-label *ngIf="selectedFile != null">{{selectedFile.name}}</mat-label>
        <fa-icon icon="cloud-upload-alt" class="cloud-upload-icon" size="5x" [ngClass]="{'active': dropzoneActive}"></fa-icon>
      </div>
      <button mat-raised-button color="primary" (click)="onUpload()">Prześlij</button>
    </mat-card>
</div>
